node_modules
dist
.turbo
*.tsbuildinfo
.env
.env.*
!.env.example
!**/.env.example
!.env.template
!**/.env.template
.DS_Store
coverage
doc/.next
doc/out
examples/nextjs-blog/.next
.pnpm-debug.log
*.vsix

.next/
tmp/
dist/
out/
coverage/
.turbo/
.DS_Store
.vscode/
.idea/
.history/
.pnp.*