node_modules
dist
.turbo
*.tsbuildinfo
.env
!examples/nextjs-blog/.env
.env.local
.env.*.local
.DS_Store
coverage
doc/.next
doc/out
examples/nextjs-blog/.next
.pnpm-debug.log
*.vsix

.next/
tmp/
dist/
out/
coverage/
.turbo/
.env.local
.env.*.local
.DS_Store
.vscode/
.idea/
.history/
.pnp.*